flask
flask-cors
torch
torchvision
ultralytics
opencv-python
Pillow
numpy<2.0.0
tqdm
pyyaml>=5.1
matplotlib
albumentations==0.5.2
webcolors
tensorboard
timm
omegaconf
pycocotools
gdown==3.13.0
tldextract
pytube

# Security patches
cryptography
rsa>=4.7
numba>=0.49.0
